<div class="form-filter">
  <div class="left">
    <select class="form-select form-select-sm sort-by" name="sorting" style="width:10rem;" aria-label=".form-select-sm example">
      <option selected value="popularity">popularity - articles from popular sources and publishers come first. </option>
      <option value="publishedAt">publishedAt - newest articles come first</option>
    </select>

    <select class="form-select selectlanguage" name="selectlanguage" aria-label="Default select example" style="width:10rem; margin-left:2rem;">
      <option name="opt1" value="ar">Arabic</option>
      <option name="opt2" value="de">German</option>
      <option selected name="opt3" value="en">English</option>
      <option name="opt4" value="fr">French</option>
      <option name="opt4" value="he">Hebrew</option>
      <option name="opt5" value="it">Italian</option>
      <option name="opt6" value="nl">Dutch</option>
      <option name="opt7" value="no">norwegian</option>
      <option name="opt8" value="pt">Portuguese</option>
      <option name="opt9" value="ru">Russian</option>
      <option name="opt10" value="se">Northern Sami</option>
      <option name="opt11" value="zh">Chinese</option>
    </select>

  </div>
  <div class="middle">
    <div class="middle1">
      <span>Date, From</span>
      <input class="from-date" type="date" name="dateFrom" value="">
    </div>

    <div class="middle2">
      <span>Date, To</span>
      <input class="to-date" type="date" name="dateTo" value="">
    </div>

    <div class="right">
      <button type="submit" class="btn btn-primary apply-button">Find</button>
    </div>

  </div>
</div>
