.header-title{
  justify-content:center;
  display:flex;
  align-items:center;
  flex-direction:column;
  height: 53rem;
}


.carousel-inner{
  background-color:black;
}


.marketing-header{
  text-align:center;
  margin-bottom: 5rem;
}


/*topic*/


.row{
  align-items:center;
}

.topic-link{
  color:gray;
  text-decoration: none;
}

/*topic*/


.news-image{
  width:100%;
}

.flexing-column{
  display:flex;
  align-items:center;
}

.header-news{
  font-size:2rem;
  width:85%;
}

.description-news{
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 2;
  width: 80%;
}

.carousel-title-header, .carousel-title-description{
  background-color: hsla(250, 44%, 26%, 0.32);
}



/*country choice*/
.country-choice{
  text-align: center;
}

/*country choice*/
